.login-container {
  width: 100%;
  height: 100vh;
  background: #eef1f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 5px;
}

.login-box p {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #0077ff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #005fcc;
}

.forgot {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #0077ff;
  cursor: pointer;
}
